---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="About">
  <div class="container mx-auto bg-white bg-opacity-[40%] backdrop-blur-lg backdrop-filter rounded-lg my-5 p-4">
    <p class="">Website ini dibuat menggunakan <span class="text-blue-500">@astrojs</span></p>
  </div>
</Layout>
