---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="About | Info Gempa">
  <div class="container mx-auto px-5">
    <div class="grid grid-cols-1 lg:grid-cols-5 gap-0 lg:gap-5">
      <div class="col-span-4 lg:col-span-1 bg-[#404040] text-white bg-opacity-[40%] backdrop-blur-lg backdrop-filter rounded-lg my-5 p-4 shadow-2xl">
        <p class="text-sm">
          Website ini dibuat menggunakan <span class="text-blue-500">@astrojs</span>
        </p>
      </div>
      <div class="col-span-4 bg-[#404040] text-white bg-opacity-[40%] backdrop-blur-lg backdrop-filter rounded-lg my-5 p-4 shadow-2xl">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus explicabo repudiandae illum quasi obcaecati minima nam repellat, eos temporibus officia impedit numquam iste ad corrupti, dolores accusantium iusto officiis
        similique fuga praesentium reprehenderit molestias exercitationem maiores molestiae? Nam, architecto, molestiae cum reiciendis beatae iusto rerum dolor dicta dolores dignissimos nobis. Alias, laudantium quidem ratione recusandae
        reprehenderit modi deleniti tempora autem exercitationem nesciunt praesentium ab mollitia accusamus. Molestiae error optio earum cupiditate ipsum sit, aliquid fugiat quas provident molestias necessitatibus excepturi doloremque,
        accusantium, natus magnam deleniti placeat sunt illum ratione dolores laboriosam deserunt ipsam veritatis aut! Perferendis temporibus animi, eos veniam dolores facere odio autem maxime soluta corrupti voluptates debitis quaerat,
        vitae dolor. Illo id placeat obcaecati optio ratione reprehenderit cum ullam laboriosam voluptatem dolores tempora dolorem, molestias dignissimos culpa fuga beatae? Ex distinctio maxime libero cumque ducimus ipsum laborum iste ut?
        Ipsa quibusdam dolor excepturi quia obcaecati possimus debitis, officiis aut tenetur, error, rerum cupiditate nihil laborum labore molestias non modi repudiandae a sapiente quisquam. Eius tenetur quis voluptates qui tempore
        dignissimos, ut in quas perferendis voluptate incidunt aspernatur praesentium, recusandae fuga aliquam alias iste quaerat labore eaque ipsa repellat libero expedita? Rem doloremque pariatur cumque sed libero quia possimus?
      </div>
    </div>
  </div>
</Layout>
