---
import Layout from "../layouts/Layout.astro"
import Clock from "../components/clock.tsx"
import Table from "../components/table.tsx"
import ShakeMap from "../components/shake-map"
import { title } from "../components/primitives.ts"

const response = await fetch(import.meta.env.PUBLIC_BASE_URL)
const data = await response.json()
---

<Layout title="Home Page">
  <div class="container mx-auto">
    <div class="grid grid-cols-2 gap-4">
      <div class="bg-white bg-opacity-[40%] backdrop-blur-lg backdrop-filter rounded-lg mt-5 p-4 items-center h-fit">
        <p class={title({ color: "foreground", size: "sm" })}>Titik Gempa</p>
        <div>
          <ShakeMap />
        </div>
      </div>
      <div>
        <div class="flex justify-between bg-white bg-opacity-[40%] backdrop-blur-lg backdrop-filter rounded-lg mt-5 p-4 items-center">
          <p class={title({ color: "foreground", size: "sm" })}>Daftar Gampa yang Dirasakan</p>
          <Clock client:load />
        </div>
        <Table data={data} />
      </div>
    </div>
  </div>
</Layout>
