---
import { text } from "../components/primitives"

var thisYear = new Date().getFullYear()
---

<footer class="py-3 mb-10 text-center bg-[#404040] text-white bg-opacity-[40%] backdrop-blur-xl backdrop-filter rounded-lg shadow-2xl">
  <p class={text({ size: "sm", class: "font-medium" })}>Build by <a class="duration-300 underline-offset-4 underline" href="https://github.com/rizkyhaksono" target="_blank">Rizky Haksono</a> - {thisYear}</p>
</footer>
