---
import { title, text } from "../components/primitives";
import { GiHamburgerMenu } from "react-icons/gi";
import { IoClose } from "react-icons/io5";

interface Props {
  titleHeader: string;
}

const { pathname } = Astro.url;
const { titleHeader } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="https://natee.me/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <title>{titleHeader}</title>

  <nav class="bg-[#404040] sticky top-0 z-50 bg-opacity-[40%] backdrop-blur-xl backdrop-filter shadow-inner">
    <div class="container flex flex-wrap items-center justify-between mx-auto px-4 py-3">
      <a href="/" class="flex items-center space-x-3">
        <img src="https://natee.my.id/favicon.ico" class="h-6" alt="Logo" />
        <span class={title({ color: "foreground", size: "sm" })}>Info Gempa</span>
      </a>
      <button id="button-header" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-current rounded-lg md:hidden focus:border-white">
        <GiHamburgerMenu className="text-white w-4 h-4 hamburger-icon" />
        <IoClose className="text-white w-5 h-5 hidden close-icon" />
      </button>
      <div id="menu-items" class="hidden w-full md:block md:w-auto">
        <ul class="font-medium flex flex-col md:p-0 mt-4 rounded-lg md:flex-row md:space-x-6 md:mt-0 max-[766px]:flex-row max-[766px]:gap-4 max-[766px]:px-1">
          <a
            href="/"
            class={text({ size: "sm", class: `${pathname === "/" ? "text-white font-semibold underline underline-offset-4 hover:underline hover:text-[#a3a3a3] duration-300" : "text-[#a3a3a3] hover:text-[#d4d4d4] duration-300"}` })}>Home</a
          >
          <a
            href="/about"
            class={text({ size: "sm", class: `${pathname === "/about" ? "text-white font-semibold underline underline-offset-4 hover:underline hover:text-[#a3a3a3] duration-300" : "text-[#a3a3a3] hover:text-[#d4d4d4] duration-300"}` })}
            >About</a
          >
        </ul>
      </div>
    </div>
  </nav>
</head>

<script>
  // const button = document.getElementById("button-header")
  // const hamburgerIcon = button?.querySelector(".hamburger-icon")
  // const closeIcon = button?.querySelector(".close-icon")

  // button?.addEventListener("click", () => {
  //   hamburgerIcon?.classList.toggle("hidden")
  //   closeIcon?.classList.toggle("hidden")
  // })

  const button = document.getElementById("button-header");
  const menuItems = document.getElementById("menu-items");

  button?.addEventListener("click", () => {
    menuItems?.classList.toggle("hidden");
  });
</script>
