---
interface Props {
  title: string
}

const { title } = Astro.props

import Header from "./Header.astro"
import Footer from "./Footer.astro"
---

<!doctype html>
<html lang="en">
  <Header titleHeader={title} />
  <body class="container mx-auto">
    <slot />
    <Footer />
  </body>
</html>
